sm_size = 568px
md_size = 768px
lg_size = 1024px
xl_size = 1280px
total-width = 100%

ribbon_color = #63a8a5
bg_color = #F1EFE0
bg_accent = #eee8d5

text_accent = #93a1a1
text_color = #444

@import "jeet"
@import "mixins/ribbon"

.card-shadow
  box-shadow 0 1px 2px #aaa
.material-shadow
  box-shadow 0 5px 10px #000

html
  position relative
  min-height 100%
  
body
  padding 0px
  margin: 0 0 3em
  font-family 'Open Sans', sans-serif
  font-weight 300
  font-size 16px
  line-height 1.42857143
  background-color bg_color

footer
  position absolute
  left 0
  bottom 0
  height 3em
  width 100%
  background-color bg_accent
  color #93a1a1
  text-align center
  line-height 300%
    
h1, h2, h3, h4, h5, h6
  color #b58900
  font-weight 300
  line-height 1.1

p
  line-height 1.4737
  font-stretch normal
  font-style normal
  font-variant normal
  
b
  font-weight 900

a
  &:hover
    background: #fafafa;
  color: #3498db;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  border-radius: 7px;
  padding: 1px 3px 3px 3px;
  
.container
  margin-right auto
  margin-left auto
  padding 15px
  
.post
  margin auto
  max-width 800px
  font-weight 100
  h1#post-title
    font-weight 800
    text-align center
    font-size 5em
    color text_color
  h1, h2, h3
    font-family 'Fjalla One',serif
    color #b58900
  p
    line-height 1.5em
  img
    border-radius 3px
    display block
    margin auto
    text-align center
    @extend .card-shadow
    

.portfolio-title
  @extend .ribbon
  &:hover
    background ribbon_color
  border-radius: 0px;

.portfolio-personal
  center()

.portfolio-avatar
  column(1)
  text-align center
  .avatar
    border-radius 4px
    border 1px solid rgba(0, 0, 0, 0.75)
  
@keyframes fadein
  from { opacity: 0 }
  to { opacity: 1 }

.portfolio-avatar-desc
  column(1)
  h1, h2
    color text_color
  h1
    font-weight 400
    font-size 2em
  text-align center
  
.portfolio-card-holder
  cf()
  
.portfolio-card-outer
  column(1, gutter:0)
  .portfolio-card
    h1, h2, h3
      color text_color
    width 100%
    word-wrap break-word
    text-align center
    margin 1em auto
    background white
    border-radius 3px
    display inline-block
    transform-origin top left
    
    @extend .card-shadow
    transition all 0.2s linear
    &:hover
      box-shadow 0 5px 20px #aaa
      transition all 0.2s linear
    .portfolio-card-inner
      h3
        text-align left
      display: block
      img
        border-radius 3px 3px 0px 0px
        width 100%
      .portfolio-card-details
        padding: 4px 1em 1em 1em
        .portfolio-card-tags
          text-align left
          a
            text-decoration none
            color #0d7963
            font-weight bold
            margin-top 5px
        a
          &:hover
            background white
          color: text_color ;

.portfolio-skill-cards
  text-align center
  padding 0px
  li
    text-align center
    margin 1em auto
    display inline-block
    color black
    background-color white
    width 150px
    @extend .card-shadow
    .head
      color white
      padding 0.5em
    .content
      padding 0.5em 1em
    &.html5 .head
        background: #F15B31;
    &.js .head
      background-color: #F58333;
    &.css .head
      background: #007EC6;
    &.nodejs .head
      background: #80bd01;
    &.java .head
      background: #E56A0A;
    &.as3 .head
      background: #C52E1B;
    &.php .head
      background: #8892BF;
    &.mysql .head
      background: #517E9A;
    &.nosql .head
      background: #402817;

.portfolio-about-container
  cf()
    
.portfolio-about-item
  column(1)
  img
    width 100%
    @extend .material-shadow
 
.title
  text-align center
  line-height 1.5em
  
.highlight
  margin 10px
  padding 1em 0em 1em 1em
  @extend .material-shadow
   
.communicator-quote
  background-color white
  padding 1em
  border-radius 4px
  border 1px solid rgba(255, 255, 255, 0.75)
  @extend .card-shadow
  p
    margin-top 0px
  
@media (min-width sm_size)
  .container
    padding 1em
  .portfolio-card-outer  
    column(1/2, cycle: 2, gutter: 1)
    
@media (min-width md_size)
  .container
    padding 2.618em
  .entry-avatar
    column(1/3)
    text-align right
  .entry-desc
    column(2/3)
  .portfolio-card-outer
    column(1/3, cycle: 3, uncycle:2, gutter: 1)
  .portfolio-about-item
    column(1/2)

@media (min-width lg_size)
  .portfolio-card-outer
    column(1/4, cycle: 4, uncycle:3, gutter: 1)