{{ partial "head.html" . }}
  <div class="post">
    <h1 id="post-title">{{ .Title }}</h1>
    <div class="post-info">
      <span class="post-date">{{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read{{ if .Site.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}
      </span>
      {{ if isset .Params "tags" }}
      {{ $baseUrl := .Site.BaseURL }}
      <span class="post-tags">
        {{ range .Params.tags }}<a class="label" href="{{ $baseUrl }}/tags/{{ . | urlize }}">{{ . }}</a>{{ end }}
      </span>
      {{ end }}
    </div>
    <article>
      {{ .Content }} 
      {{ if .Params.series }}
          {{ $name := index .Params.series 0 }}
          <hr/>
          <div class="post-series-desc">
            <p>This is a post in the <a href="{{ .Site.BaseURL }}/series/{{ $name | urlize }}" id="series"><b>{{$name}}</b></a> series.<br/>
            Other posts in this series:</p>

            {{ $name := $name | urlize }}
            {{ $series := index .Site.Taxonomies.series $name }}
            <ul class="series">
              {{ range $series.Pages }}
              <li>{{.Date.Format "Jan 02, 2006"}} -
                <a href="{{.Permalink}}">{{.LinkTitle}}</a></li>
              {{end}}
            </ul>
          </div>
      {{end}} 
    </article>
    <footer class="article-footer">
      <h3>Arian Valdez <a href="//twitter.com/Secretmapper">@Secretmapper</a></h3>
      <p>React.JS and Node.JS Software engineering consultant. Designer/Developer Unicorn. Created Alt Tracker, Combustion, Riyu, etc.</p>
    </footer>
    {{ if .Site.DisqusShortname }}<div id="disqus_thread"></div>{{ end }}
  </div>
</div>

{{ if not (eq .Site.DisqusShortname "") }}
<div id="disqus_thread"></div>
<script>
  // https://disqus.com/admin/universalcode/#configuration-variables
  var disqus_config = function () {
    {{if isset .Params "id" }}
      this.page.identifier = '{{ . }}';
    {{else}}
      this.page.identifier = '{{.Title|html}}';
    {{end}}
    this.page.title = {{ .Title }};
    this.page.url = {{ print "http:" .Permalink }};
  };
  (function() {  // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://arianv.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{{ end }}
{{ partial "foot.html" . }}
