.info-box
  background-color #DCF2FD
  color #618CA0
  padding 1rem
  margin 0 auto
  margin-bottom 1rem
  max-width md_size
  p
    font-size 1.3rem

.info-box--note
  background-color transparent
  color black
  >p
    margin 0
    font-size 1rem
    font-style italic

.info-box--warning
  background-color #FBEDB7
  color #8c8466
  >p
    margin 0
    font-size 1rem

.info-box--warning-md-screen
  display block

@media (min-width md_size)
  .info-box--warning-md-screen
    display none
