@require "jeet"
@require "mixins/material"

.portfolio-title
  @extend .ribbon
  &:hover
    background ribbon_color
  border-radius: 0px;

.portfolio-personal
  center()

.portfolio-avatar
  column(1)
  text-align center
  .avatar
    border-radius 4px
    border 1px solid rgba(0, 0, 0, 0.75)

.portfolio-avatar-desc
  column(1)
  h1, h2
    color text_color
  h1
    font-weight 400
    font-size 2em
  text-align center
  
.portfolio-card-holder
  cf()
  
.portfolio-card-outer
  column(1, gutter:0)
  .portfolio-card
    h1, h2, h3
      color text_color
    width 100%
    word-wrap break-word
    text-align center
    margin 1em auto
    background white
    border-radius 3px
    display inline-block
    transform-origin top left
    
    @extend .card-shadow
    transition all 0.2s linear
    &:hover
      box-shadow 0 5px 20px #aaa
      transition all 0.2s linear
    .portfolio-card-inner
      h3
        text-align left
      display: block
      img
        border-radius 3px 3px 0px 0px
        width 100%
      .portfolio-card-details
        padding: 4px 1em 0.3em 1em
        .portfolio-card-tags
          text-align left
          a
            text-decoration none
            color #0d7963
            font-weight bold
            margin-top 5px
        .portfolio-card-actions
          display block;
          margin-top 1rem;
          text-align: right;
          .portfolio-card-action
            &:hover
              background: #fafafa;
            color: #3498db;
            text-decoration: none;
            -webkit-transition: background 0.25s ease-in;
            -moz-transition: background 0.25s ease-in;
            -ms-transition: background 0.25s ease-in;
            transition: background 0.25s ease-in;
            border-radius: 7px;
            padding: 1px 3px 3px 3px;
        a
          &:hover
            background white
          color: text_color ;

.portfolio-skill-cards
  text-align center
  padding 0px
  li
    text-align center
    margin 1em auto
    display inline-block
    color black
    background-color white
    width 150px
    @extend .card-shadow
    .head
      color white
      padding 0.5em
    .content
      padding 0.5em 1em
    &.html5 .head
        background: #F15B31;
    &.js .head
      background-color: #F58333;
    &.css .head
      background: #007EC6;
    &.nodejs .head
      background: #80bd01;
    &.java .head
      background: #E56A0A;
    &.as3 .head
      background: #C52E1B;
    &.php .head
      background: #8892BF;
    &.mysql .head
      background: #517E9A;
    &.nosql .head
      background: #402817;

.portfolio-about-container
  cf()
    
.portfolio-about-item
  column(1)
  img
    width 100%
    @extend .material-shadow
      
@media (min-width sm_size)
  .portfolio-card-outer  
    column(1/2, cycle: 2, gutter: 1)
    
@media (min-width md_size)
  .portfolio-card-outer
    column(1/3, cycle: 3, uncycle:2, gutter: 1)
  .portfolio-about-item
    column(1/2)

@media (min-width lg_size)
  .portfolio-card-outer
    column(1/4, cycle: 4, uncycle:3, gutter: 1)
