.posts
  max-width md_size
  margin 0 auto
  article
    margin-bottom 1.5em
    h2
      line-height 1.65em
      a
        color text_color
        &:hover
          color ribbon_color
          background none
        padding 0em
  .post-info
    font-size 0.875em
    color #b1b1b1
    &:hover
      color #242424
    margin 0em
    float right
    text-align right
    time
      display block

strong.post-category
  a
    color #b1b1b1
    &:hover
      color ribbon_color
      background none

.post-big
  font-size 2em
  margin-top 2em
  margin-bottom 2em
  
.post-all-center
  text-align center
  table
    margin-left auto
    margin-right auto

.post-width
  margin-left auto
  margin-right auto
  max-width md_size

.post-width--lg
  margin-left auto
  margin-right auto
  max-width lg_size
  
.post
  margin auto
  h1#post-title
    font-weight 800
    text-align center
    font-size 3em
    margin-top 0px
    margin-bottom 0px
  h1, h2, h3, p, ul, ol, #disqus_thread, pre
    @extend .post-width
  h1, h2, h3
    max-width md_size + 50px 
    font-family 'Fjalla One',serif
    color #b58900
  p
    code
      max-width 100%
      overflow-x auto
      white-space normal
      word-wrap break-word
  article
    padding 2% 0%
  p, li
    line-height 2em 
  .post-info
    padding-top 1em
    margin 0 auto
    max-width md_size + 50px 
    .post-date
      color text_muted
    .post-tags
      text-align right
      float right
  .post-series-desc
    color text_muted
    font-size 0.9em
    p, ul
      margin-top 0.5em
      margin-bottom 0.5em
  img
    max-width 100%
    border-radius 3px
    display block
    margin auto
    text-align center
  figcaption
    text-align center
    p
      font-style italic
  .video-player
    text-align center
  table
    th, td
      padding 0.5em
  thead
    background-color bg_accent 

.article-footer
  border-top 1px solid rgba(0, 0, 0, .05)!important
  max-width md_size
  margin-left auto
  margin-right auto

.term-desc
  p
    margin-top 0px
    line-height 1.2em
    color text_muted

.cf
  cf()

@media (min-width md_size)
  .g2
    column(2/12)

  .g6
    column(6/12)

  .g8
    column(8/12)
