{{ partial "head.html" . }}
  <div class="posts">
  {{ range .Data.Pages }}
    <article>
      <p class="post-info">
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
        {{ if isset .Params "tags" }}
        {{ $baseUrl := .Site.BaseURL }}
          {{ range .Params.tags }}
            <strong class="post-category">
              <a class="label"
                href="{{ $baseUrl }}/tags/{{ . | urlize }}">
                {{ . }}
              </a>
            </strong>
          {{ end }}
        {{ end }}
      </p>
      <h2>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
    </article>
  {{ end }}
  </div>
{{ partial "foot.html" . }}
